<form action="/node/<%= host %>/<%= port %>/" method="get" target="_blank">
  <input type="hidden" name="tkn" value="<%= password %>">
	API URL: http://<%= host %>:<%= port %>/node/<%= host %>/<%= port %>/
	</br>
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to llama.cpp
  </button>
</form>
